name: V8 Release and Publish

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build V8
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
          - os: macos-latest
            platform: macos
          - os: macos-15-intel
            platform: macos-intel
          - os: windows-latest
            platform: windows
            target_cpu: x64
    runs-on: ${{ matrix.os }}
    env:
      TARGET_CPU: ${{ matrix.target_cpu }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: true
          clean: true
          fetch-depth: 1

      - name: Git Setup and Cleanup
        shell: bash
        run: |
          git config --global core.autocrlf false
          git config --global core.filemode false
          git config --global core.fscache true
          git config --global core.preloadindex true

          git submodule foreach --recursive 'git clean -ffdx'
          git submodule foreach --recursive 'git reset --hard HEAD'

      - name: Initialize Archive Name
        if: runner.os != 'Windows'
        shell: bash
        run: ./.github/workflows/scripts/archive-name.sh

      - name: Initialize Archive Name (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: .\.github\workflows\scripts\archive-name.ps1

      - name: Build Release for Linux (${{ runner.arch }})
        if: matrix.platform == 'linux'
        uses: ./.github/actions/build-linux
        with:
          archive-name: ${{ env.ARCHIVE_NAME }}

      - name: Build Release for macOS (${{ runner.arch }})
        if: startsWith(matrix.platform, 'macos')
        uses: ./.github/actions/build-macos
        with:
          archive-name: ${{ env.ARCHIVE_NAME }}
          xcode-version: '26.0'

      - name: Build Release for Windows
        if: startsWith(matrix.platform, 'windows')
        uses: ./.github/actions/build-windows
        with:
          archive-name: ${{ env.ARCHIVE_NAME }}
          target-cpu: ${{ matrix.target_cpu }}

      - name: Upload Archive
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARCHIVE_NAME }}
          path: |
            *.tar.xz
            *.7z
          retention-days: 7

  release:
    runs-on: ubuntu-latest
    if: ${{ needs.build.result == 'success' }}
    needs: build
    steps:
      - name: Download Archives
        uses: actions/download-artifact@v4
        with:
          path: artifact

      - name: Display Downloads
        run: ls -lhR artifact

      - name: Upload Archive
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            artifact/**/*.tar.xz
            artifact/**/*.7z
